.mainContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.memberBox::-webkit-scrollbar {
  width: 10px;
}
.mainContainer::-webkit-scrollbar-track {
  background: transparent;
}
.mainContainer::-webkit-scrollbar-thumb {
  background-color: #79c4f2;
  max-height: 5rem;
  border-radius: 1rem;
}
/* Guide */
.guideContainer {
  min-height: 95vh;
  position: relative;
  z-index: 2;
}
.guide {
  position: relative;
  z-index: 4;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
  gap: 5vw;
}
.guideTitle,
.guideInfo {
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: #0b0051;
  -webkit-animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
  animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}
.guideTitle {
  font-size: 5rem;
}
.guideInfo {
  font-size: 3rem;
}
.guideImg {
  width: 30vw;
  -webkit-animation: wobble-hor-bottom 15s infinite both;
  animation: wobble-hor-bottom 15s infinite both;
}
/* background */
.leftCloud {
  z-index: 2;
  width: 60vw;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #b8e5ff;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}
.rightCloud {
  z-index: 1;
  width: 60vw;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.leftPlane {
  z-index: 2;
  position: absolute;
  left: 5%;
  bottom: 30%;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}
.rightPlane {
  z-index: 2;
  position: absolute;
  right: 5%;
  bottom: 60%;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

/* Live component */
.container {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-color: #ffffffcc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4rem;
}
.liveContainer,
.listContainer {
  width: 100%;
  max-width: 75vw;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
}
.liveContainer {
  padding-top: 3rem;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.listContainer {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.nftSearch {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nftSearch input {
  width: 25vw;
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: #534d4d;
  font-size: 1.6rem;
  margin: 4px;
  border-radius: 1rem;
  padding: 4px 1rem;
}
.moreBtn {
  margin: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.moreBtn button {
  font-size: 1.6rem;
  aspect-ratio: 2/1;
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  border-radius: 2rem;
  border: none;
  background-color: #fddf61;
  padding: 1rem 1.6rem;
  box-shadow: 5px 5px 5px #00000030;
}
.moreBtn button:active {
  transform: scale(0.9);
}
/* modal */
.modalBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.tutoBtn,
.modalText,
.modalInput {
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: #534d4d;
  font-size: 1.2rem;
}
.modalText_small {
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: #888888;
  font-size: 0.9rem;
}

.tutoBtn {
  background-color: #79c4f2;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
}

.tutoBtn:hover {
  cursor: pointer;
}
.modalInput {
  /* border: none;
  border-bottom: 2px solid #534d4d; */
  background-color: #fddf61;
  border: none;
  border-radius: 20px;
  width: 80%;
  height: 40px;
  padding-left: 20px;
}

.modalInput:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #feca60;
}
/* Under line */
.underBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.underLine {
  width: 30vw;
  height: 10px;
  background: #3b82bf;
  border-radius: 1rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-25 14:56:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-25 15:1:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* 애니메이션 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-25 15:12:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-25 15:13:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.main {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  max-height: calc(100vh - 60px);
}
.main::-webkit-scrollbar {
  display: none;
}
.snap {
  scroll-snap-align: start;
}

.snap2 {
  scroll-snap-align: start;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}
.snap2::-webkit-scrollbar {
  display: none;
}
