.mainContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Carousel CSS */
.carouselContainer {
  height: 90vh;
  position: relative;
  z-index: 2;
}
.carouselWapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselContent {
  background: #dddddd50;
  width: 60vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.8s both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}
.carouselItem {
  height: 100%;
  border: 1px solid black;
}
.leftCloud {
  z-index: 2;
  width: 80vw;
  position: absolute;
  left: -20vw;
  bottom: -10vh;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.rightCloud {
  z-index: 2;
  width: 60%;
  aspect-ratio: 2/1;
  position: absolute;
  right: -10vw;
  bottom: -5vh;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.leftPlane {
  z-index: 2;
  position: absolute;
  left: 5%;
  bottom: 30%;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.rightPlane {
  z-index: 2;
  position: absolute;
  right: 5%;
  bottom: 60%;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s
    both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

/* Live component */
.liveContainer {
  background: skyblue;
  height: 80vh;
}
/* NFT list component */
.listContainer {
  background: pink;
  height: 80vh;
}

/*  */

/* Content */
.tab {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  margin-bottom: 8px;
}
.btn:active {
  transform: scale(0.9);
}
.btn img {
  width: 120px;
  aspect-ratio: 1/1;
  background: grey;
  border-radius: 100%;
  margin-bottom: 4px;
  box-shadow: 5px 5px 5px black;
}
.btn p {
  width: 160px;
  color: #3b82bf;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.btn p:hover {
  background: #fddf6130;
  color: #3b82bf;
  transition: all 0.3s;
}

/* Under line */
.underBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.underLine {
  width: 160px;
  height: 10px;
  background: #3b82bf;
  border-radius: 1rem;
}

/* 애니메이션 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
