.welcomePageEvent {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #b8e5ff 0%, #ffe9e9 100%);
}

.eventNFT {
  position: relative;
  top: 30%;
  left: 7%;
  transform: rotate(-14.36deg);
}

.eventSSF {
  position: absolute;
  top: 30%;
  right: 20%;
  font-size: 15rem;
  transform: rotate(19.38deg);
}

.eventText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.eventSSF {
  position: absolute;
  width: 13vw;
  top: 37%;
  left: 63%;
}

.eventButton {
  position: absolute;
  top: 48%;
  left: 37%;
  background: #fcf5e9;
  border-radius: 30px;
  border: none;
  width: 25vw;
  height: 12vh;
  font-family: "IM_Hyemin-Bold";
  font-size: 1.7rem;
  cursor: pointer;

  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

.importSSFButton {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
  background: #fcf5e9;
  border: none;
  width: 300px;
  height: 7vh;
  border-radius: 30px;
  font-family: "IM_Hyemin-Bold";
  cursor: pointer;
}

.eventInfo {
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 3%;

  transform: translate(0, -50%);
}

.welcomePageOne {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffe9e9 0%, #ffbaa4 100%);
}

.welcomePageTwo {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffbaa4 0%, #fb9e80 100%);
}

.welcomePageThree {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fb9e80 0%, #66529d 100%);
}

.welcomePageFour {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #66529d 0%, #0a0523 100%);
}

.welcomePageFive {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0a0523 0%, #5db3e9 100%);
}

.welcomePageSix {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #5db3e9 0%, #cfecfe 100%);
}

.MotionArea .WelcomeBackground.active {
  opacity: 1;
}

.page1_cloud1 {
  position: absolute;
  width: 80vw;
  top: 120%;
  left: -20%;
  transform: translate(0%, -100%);
  z-index: 10;
}

.page1_cloud2 {
  position: absolute;
  width: 70vw;
  top: 112%;
  left: 120%;
  transform: translate(-100%, -100%);
  z-index: 70;
}

.page1_cloud3 {
  position: absolute;
  width: 70vw;
  top: 95%;
  left: 60%;
  transform: translate(-60%, -95%);
  z-index: 7;
}

.page1_cloud4 {
  position: absolute;
  width: 60vw;
  top: 45%;
  left: 100%;
  transform: translate(-100%, -40%);
  z-index: 5;
}

.welcome_character {
  position: fixed;
  width: 25vw;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
  z-index: 50;
  -webkit-animation: wobble-hor-bottom 10s infinite both;
  animation: wobble-hor-bottom 10s infinite both;
  cursor: pointer;
}

.welcome_character:hover {
  z-index: 100;
}

.WelcomeTitleText {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -15%);
  color: #000000;
  font-size: 5vh;
  z-index: 50;
  display: inline-block;
  white-space: nowrap;
}

.WelcomeDescriptionText {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 3vh;
  z-index: 50;
}

.page2_cloud1 {
  position: absolute;
  top: -40%;
  left: 100%;
  transform: translate(-100%, 40%);
}

.page2_cloud2 {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-10%, -30%);
}

.page2_cloud3 {
  position: absolute;
  top: 88%;
  left: 70%;
  transform: translate(-70%, -88%);
}

.NFTCardSlider {
  position: relative;
  top: 40%;
  width: 100%;
  z-index: 50;
  /* display: flex; */
}

.NFTCardRotate {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  overflow: visible;
  /* transform-style: preserve-3d; */
  animation: roter 29s linear infinite;
  justify-content: center;
}

.airplane {
  position: absolute;
  width: 8vw;
  bottom: 3%;
  left: 2%;
  /* z-index: 100; */
}

.moon {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-10%, -30%);
}

.page3_cloud1 {
  position: absolute;
  top: 0%;
  left: 90%;
  transform: translate(-90%, 0%);
}

.page3_cloud2 {
  position: absolute;
  top: 30%;
  left: 0%;
  transform: translate(0%, -30%);
}

.page3_gameDisplay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  width: 50vw;
  height: 30vw;
  z-index: 50;
}

.page4_cloud1 {
  position: absolute;
  width: 20vw;
  top: 75%;
  left: 5%;
  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

.page4_cloud2 {
  position: absolute;
  width: 20vw;
  top: 58%;
  left: 27%;
  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

.page4_cloud3 {
  position: absolute;
  width: 20vw;
  top: 40%;
  left: 50%;
  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

.page4_cloud4 {
  position: absolute;
  width: 20vw;
  top: 22%;
  left: 72%;
  z-index: 50;
  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both;
}

.page4_star1 {
  position: absolute;
  width: 2vw;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  transform: rotate(33.73deg);
}

.page4_star2 {
  position: absolute;
  width: 2vw;
  top: 85%;
  left: 70%;
  transform: translate(-70%, -85%);
  transform: rotate(33.73deg);
}

.page4_star3 {
  position: absolute;
  width: 2vw;
  top: 55%;
  left: 25%;
  transform: translate(-25%, -55%);
  transform: rotate(28deg);
}

.page4_star4 {
  position: absolute;
  width: 2vw;
  top: 95%;
  left: 45%;
  transform: translate(-45%, -95%);
}

.page4_star5 {
  position: absolute;
  width: 2vw;
  top: 90%;
  left: 92%;
  transform: translate(-92%, -90%);
  transform: rotate(-27.13deg);
}

.page4_star6 {
  position: absolute;
  width: 2vw;
  top: 50%;
  left: 92%;
  transform: translate(-92%, -50%);
  transform: rotate(25.9deg);
}

.page4_star7 {
  position: absolute;
  width: 2vw;
  top: 75%;
  left: 82%;
  transform: translate(-82%, -75%);
  transform: rotate(37.6deg);
}

.page4_star8 {
  position: absolute;
  width: 2vw;
  top: 78%;
  left: 55%;
  transform: translate(-78%, -55%);
  transform: rotate(34.02deg);
}

.page4_star9 {
  position: absolute;
  width: 2vw;
  top: 55%;
  left: 80%;
  transform: translate(-80%, -55%);
  transform: rotate(27.57deg);
}

.page4_star10 {
  position: absolute;
  width: 2vw;
  top: 35%;
  left: 48%;
  transform: translate(-48%, -35%);
  transform: rotate(-27.13deg);
}

.page4_star11 {
  position: absolute;
  width: 2vw;
  top: 65%;
  left: 5%;
  transform: translate(-5%, -65%);
  transform: rotate(-27.13deg);
}

.page5_developers {
  position: absolute;
  width: 40vw;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}

.page5_cloud1 {
  position: absolute;
  width: 15vw;
  top: 80%;
  left: 7%;
  transform: translate(-7%, -80%);
}

.page5_cloud2 {
  position: absolute;
  width: 20vw;
  top: 20%;
  left: 95%;
  transform: translate(-95%, -20%);
}

.page6_cloud1 {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-10%, -15%);
}

.page6_cloud2 {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-70%, -10%);
}

.page6_logo {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-10%, -80%);
  color: #ffffff;
  font-size: 20vh;
  letter-spacing: 0.2em;
  -webkit-animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    both;
  animation: fade-in 5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}

.page6_ground {
  position: absolute;
  width: 100%;
  height: 5vh;
  top: 95vh;
  background-color: #f3d2a2;
}

.Welcome {
  /* background-image: url("../../assets/08.jpg"); */
  /* width: 100vw; */
  /* height: 100vh; */
  width: 100%;
  height: 100%;
  position: relative;
  /* background-size: cover; */
  /* background-repeat: repeat-y; */
  /* overflow-x: hidden; */
  font-family: "IM_Hyemin-Bold";

  /* object-fit: cover; */
}

/* WelcomeNavbar */
.WelcomeNavbar {
  display: flex;
  padding: 15px;
  position: fixed;
  z-index: 100;
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100vw;
}

.logo_img {
  height: 8vh;
  margin-left: 4px;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  position: absolute;
  left: 2%;
  transform: translate(-2%);
}

.logo_text_img {
  height: 3vh;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 7.5%;
  transform: translate(-7.5%);
}

.WelcomeNavbarLink {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%);
}

.WelcomeNavbarText {
  margin-right: 3vw;
  font-size: 2.5vh;
  margin-left: auto;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 5px 5px 5px #000000aa;
}

/* WalletAddress */
.WalletAddress {
  padding-top: 30px;
}

.WalletAddressText {
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}

.WalletAddressBox {
  display: flex;
  position: relative;
  width: 100vw;
}

.WalletAddressPallete {
  width: 50vw;
  height: 65vh;
}

.WalletAddressRegister {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 55vw;
  transform: translate(-50%, -50%);
  display: flex;
}

.WalletAddressRegister input {
  border-bottom: 1px solid blue;
  width: 48vw;
  height: 8vh;
  margin-right: 20px;

  /* background: none; */

  /* object-fit: cover; */
}

.WalletAddressRegister button {
  border: 3px solid #79c4f2;
  width: 60vw;
  height: 8vh;
  left: 1330px;
  top: 712px;

  background: #ffffff;
  border-radius: 50px;

  color: #3b82bf;
  font-weight: 400;
  font-size: 2.5em;
  font-family: "IM_Hyemin-Bold";

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.metamaskImg {
  width: 3vw;
  height: 3vw;

  margin-right: 1rem;
}

/* NFTCard */
.NFTCard {
  display: inline-block;
  /* position: absolute; */
  position: relative;
  /* top: 30%; */
  width: 18vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  /* margin-top: 10rem; */
  margin-left: 1rem;
  margin-right: 1rem;

  background-color: #ffffff;
  border-radius: 30px;
  padding: 1rem;
  border: 3px solid #e56161;
}

.NFTCardImg {
  width: 10vw;
  /* margin-top: 0.5em; */
  margin-bottom: 1.5em;
}

.NFTCardText {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}

.NFTTextTitle {
  text-align: left;
  font-size: 1.5vh;
}

.NFTTextMain {
  margin-left: auto;
  font-size: 1.5vh;
}

/* animation */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.textBox {
  position: absolute;
  top: 25%;
  left: 65%;
  width: 30vw;
  height: 50vh;
  background-color: white;
}
.slider {
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translate(-50%);
  width: 50vw;
  z-index: 50;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
