.back_top_info {
  text-align: center;
}

.top_info {
  width: 100%;
  height: 300px;
  background-color: black;
  display: inline-block;

  /* 할까말까 */
  /* margin: 0 10px 0 10px; */
  /* border-radius: 20px; */
}

.back {
  display: flex;
  justify-content: center;
  font-family: "NanumSquareRound";
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* width: 80%; */
}

/* 왼쪽틀, 오른쪽틀 공통 */
.contents {
  margin: 10px 20px 20px 20px;
  border-radius: 20px;
}

/* 왼쪽 : 카테고리 분류 */
.contents:nth-child(1) {
  background-color: #fcf5e9;
}

/* 오른쪽 : 컨텐츠 출력 */
.contents:nth-child(2) {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center; */
  /* background-color: red; */
  border: none;
}

/* 카드 배경 틀 */
.card_container {
  width: 25%;

  box-sizing: border-box;
  padding: 10px;
  float: left;
  /* padding: 0 0 20px 10px; */
  /* margin: 10px; */
}

/* 카드 배경 */
.card {
  background-color: white;
  /* aspect-ratio: 12/11; */

  /* border: 10px solid rgba(0, 0, 0, 0); */
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */

  /* transition: 0.4s; */
  /* transform-style: preserve-3d; */
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #00000030;
  /* margin: 10px; */
}

/* 이미지 사각틀 */
.img_sq {
  aspect-ratio: 12/10;
  background-image: url("../../assets/template/template_sq.svg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 이미지 */
.img {
  width: 89%;
  aspect-ratio: 12/10;
  border-radius: 1rem;
}
