/* .saleContainer::-webkit-scrollbar {
  display: none;
} */

.back_top_info {
  text-align: center;
}

.top_info {
  width: 100%;
  height: 350px;
  background-color: rgba(121, 196, 242, 0.3);
  display: inline-block;
  position: relative;

  /* 할까말까 */
  /* margin: 0 10px 0 10px; */
  /* border-radius: 20px; */
}

.top_info_text {
  position: absolute;
  left: 400px;
  top: 30%;
  color: black;
}

.top_info_h2 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 10px;
}

.top_info_p {
  font-weight: bold;
  font-size: 24px;
}

.top_info_img {
  position: absolute;
  left: 180px;
  top: 15%;
}

.back {
  display: flex;
  justify-content: center;
  font-family: "NanumSquareRound";
}
.hideInfo {
  overflow: hidden;
  -webkit-animation: slide-out-top 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s both;
  animation: slide-out-top 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 350px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-360px);
    transform: translateY(-360px);
    height: 0;
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: 350px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-360px);
    transform: translateY(-360px);
    height: 0;
    opacity: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  /* width: 80%; */
}

/* 왼쪽틀, 오른쪽틀 공통 */
.contents {
  /* height: 300vh; */
  margin: 10px;
  border-radius: 20px;
}

/* 왼쪽 : 카테고리 분류 */
.contents:nth-child(1) {
  background-color: white;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.category_container {
  display: flex;
  flex-direction: column;
}

input[id*="category_title"] {
  display: none;
}

input[id*="category_title"] + label {
  display: block;
  padding: 20px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  /* border: 3px solid #fddf61; */
  /* background-color: #fddf61; */
  /* background-color: rgb(239, 239, 239);
   */
  box-shadow: 2px 2px 5px #00000030;
}

input[id*="category_title"] + label:hover {
  border-radius: 20px;
  background-color: #fddf61;
}

input[id*="category_title"] + label em {
  position: absolute;
  top: 55%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
  background: url("../../assets/btn/chevron-down.svg") 0 0 no-repeat;
}

input[id*="category_title"]:checked + label em {
  background-position: 0 -30px;
  background: url("../../assets/btn/chevron-up.svg") 0 0 no-repeat;
}

input[id*="category_title"]:checked + label {
  background-color: #fddf61;
  border-radius: 20px;
}

input[id*="category_title"]:checked + label + div {
  max-height: 500px;
  padding: 10px;
}

.category_title,
.category_title_isOpened {
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;

  cursor: pointer;
}

.category_title_isOpened {
  transition: 0.5s;
  background: #fddf61;
}

.category_contents,
.category_contents_sort,
.category_contents_price {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* 숨기기 */
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.category_contents {
  height: 5vh;
}

.category_contents_price {
  height: 20vh;
}

.category_isOnSale {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 10px; */
}

input[type="radio"] {
  vertical-align: middle;
  appearance: none;

  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  margin-right: 10px;
  cursor: pointer;
}

input[type="radio"]:checked {
  border: 0.4em solid tomato;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

input[id="isOnSale"] + label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

input[id="isOnSale"]:checked + label {
  border: 0.4em solid tomato;
}

input[id="isOnSale"] {
  display: none;
}

input[id="isOnSale"] + label {
  margin-left: 10px;
  margin-right: 10px;
}

.category_isOnSale_text {
  font-size: 16px;
}

.category_price_select {
  padding: 10px 0 10px 0;
  margin-left: 10px;
}

.category_price_container {
  display: flex;
  flex-direction: column;
}

.category_price_range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

input[name="inputMinMax"] {
  width: 40%;
  height: 200%;
  background-color: #fcf5e9;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;

  margin-right: 10px;
  margin-left: 10px;
}

.category_price_range_text {
  font-weight: bold;
  font-family: "pretendard";
}

.category_button,
.category_button_reset {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 16px;
  white-space: nowrap;
  font-family: "NanumSquareRoundB";
}

.category_button {
  background-color: #fddf61;
}

.category_button_reset {
  background-color: rgb(239, 239, 239);
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/
/* 오른쪽 : 컨텐츠 출력 */
.contents:nth-child(2) {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center; */
  background-color: white;
  border: none;
  margin-right: 20px;
}
.nftListContainer {
  height: calc(100vh - 60px);
  overflow: auto;
}
/* 카드 배경 틀 */
.card_container {
  width: 25%;

  box-sizing: border-box;
  padding: 10px;
  float: left;
  /* padding: 0 0 20px 10px; */
  /* margin: 10px; */
}

/* 카드 배경 */
.card {
  background-color: white;
  /* aspect-ratio: 12/11; */

  /* border: 10px solid rgba(0, 0, 0, 0); */
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */

  /* transition: 0.4s; */
  /* transform-style: preserve-3d; */
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #00000030;
  /* margin: 10px; */
}

/* 이미지 사각틀 */
.img_sq {
  aspect-ratio: 12/10;
  background-image: url("../../assets/template/template_sq.svg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nftNumber {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 20%;
  aspect-ratio: 1/1;
  color: #534d4d;
  background-image: url("../../assets/template/template_num.svg");
  background-size: 100% 100%;
  text-align: center;
  padding-top: 0.9rem;
  font-size: 1.4rem;
  color: white;
}

/* 이미지 */
.img {
  width: 89%;
  aspect-ratio: 12/10;
  border-radius: 1rem;
}

.badge {
  width: 10vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background-color: black;
  color: white;
}

/* input 포커스 시 placeholder 사라짐 */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}

.price_info {
  display: flex;
  justify-content: space-between;
}
