.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container * {
  text-align: center;
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: #534d4d;
  font-size: 1.2rem;
}
.content,
.social {
  height: 100%;
  padding: 4px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* CONTENT */
.content {
  width: 75%;
}

.btnBox,
.contentBox,
.timerBox {
  width: 100%;
  border-radius: 20px;
}
.btnBox {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btnBox > p {
  margin-left: 20px;
  font-size: 2rem;
}
.exit {
  width: 80px;
  height: 100%;
  box-shadow: 5px 5px 5px #00000030;
  border: none;
  border-radius: 20px;
  background-color: #79c4f2;
}
.exit:active {
  transform: scale(0.9);
}
.contentBox {
  flex-grow: 1;
  background-color: #b8e5ff;
  box-shadow: 5px 5px 5px #00000030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
}
.answerBox {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.answerBox > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 3rem;
}
.answerBox > div:hover {
  cursor: url("../../assets/live-item/answer_cursor.svg") 20 20, pointer;
}
.answerBox > div:active {
  transform: scale(0.9);
}

.answerBox > div > p {
  min-width: 48px;
  height: 48px;
  padding: 4px;
  border-radius: 8px;
  font-size: 2rem;
  border: 2px dotted #9a9a9a;
  background-color: #fcf5e9;
}
.answerNoti {
  font-size: 1rem;
}
.answerInput {
  margin-top: 8px;
}
.what {
  width: 120px;
  height: 48px;
  border-radius: 8px;
  background-color: #79c4f2;
  font-size: 2rem;
  padding: 8px 4px;
}
.paperBox {
  flex-grow: 1;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.canvasBox {
  z-index: 1100;
  width: 80%;
  height: 100%;
  background: white;
}
.submitModal section {
  position: relative;
}
.submitModal main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canvas:hover {
  cursor: url("../../assets/live-item/brush.svg") 0 70, auto;
}
.eraseCursor:hover {
  cursor: url("../../assets/live-item/eraser.svg") 0 40, auto;
}
.springOne {
  position: absolute;
  top: -5%;
  left: 15%;
  z-index: 1101;
}
.springTwo {
  position: absolute;
  top: -5%;
  right: 15%;
  z-index: 1101;
}
.toolBox {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.colorBox {
  display: flex;
  gap: 8px;
}
.colorBox > button {
  width: 40px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100%;
  color: #ffffff;
  box-shadow: 5px 5px 5px #00000030;
}
.colorBox > button:active {
  transform: scale(0.9);
}
.erase {
  display: flex;
  gap: 8px;
}
.erase > button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #79c4f2;
  box-shadow: 5px 5px 5px #00000030;
}
.timerBox {
  height: 40px;
  background-color: #b8e5ff;
  box-shadow: 5px 5px 5px #00000030;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.timeSlider {
  flex-grow: 1;
  height: 60%;
  margin: 8px;
  border-radius: 20px;
  background-color: #79c4f2;
  position: relative;
}
.time {
  border-radius: 20px;
  height: 100%;
  background-color: #21658f;
  transition: 1s;
}
.remain {
  position: absolute;
  top: 0;
  left: 45%;
  color: white;
}
.submit {
  width: 80px;
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: #79c4f2;
  box-shadow: 5px 5px 5px #00000030;
}
.submit:active {
  transform: scale(0.9);
}
/* SOCIAL */
.social {
  width: 25%;
}

.notiBox,
.tab,
.chatBox,
.inputBox {
  width: 100%;
  border-radius: 20px;
}
/* noti */
.notiBox {
  height: 40px;
  padding: 8px 12px;
  color: white;
  box-shadow: 5px 5px 5px #00000030;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: flip-in-hor-top 8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-hor-top 8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.track1,
.track2 {
  width: 100%;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.track1 {
  left: 0%;
}
.track2 {
  left: 200%;
}
.content {
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: white;
  font-size: 1.2rem;
}
/* tab */
.tab {
  height: 40px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tab > button {
  flex-grow: 1;
  border: none;
  border-radius: 20px;
  background-color: #b8e5ff;
  box-shadow: 5px 5px 5px #00000030;
}
.tab > .active {
  background-color: #79c4f2;
}
.memberBox {
  flex-grow: 1;
  width: 100%;
  min-height: 30%;
  max-height: 30%;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: #b8e5ff;
  box-shadow: 5px 5px 5px #00000030;
  -webkit-animation: scale-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.memberList {
  width: 100%;
  padding: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.memberList > div {
  width: 100%;
}
.memberBox::-webkit-scrollbar {
  width: 5px;
}

.memberBox::-webkit-scrollbar-track {
  background: transparent;
}
.memberBox::-webkit-scrollbar-thumb {
  background-color: #79c4f2;
  max-height: 5rem;
  border-radius: 1rem;
}
.memberItem,
.memberItemMine,
.memberItemHost {
  width: 100%;
  min-height: 40px;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #00000030;
}
.memberItemMine {
  background-color: #fddf61;
}
.memberItemHost {
  background-color: #79c4f2;
}
/* chat */
.chatBox {
  height: 40%;
  flex-grow: 1;
  background-color: #b8e5ff;
  box-shadow: 5px 5px 5px #00000030;
  overflow-y: scroll;
  transition: 0.3s;
}
.chatBox::-webkit-scrollbar {
  width: 5px;
}

.chatBox::-webkit-scrollbar-track {
  background: transparent;
}
.chatBox::-webkit-scrollbar-thumb {
  background-color: #79c4f2;
  max-height: 5rem;
  border-radius: 1rem;
}
.chatList {
  width: 100%;
  padding: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chatItem {
  width: 100%;
  min-height: 40px;
  padding: 8px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #00000030;
}
.mine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.mine > p {
  max-width: 90%;
  min-height: 40px;
  padding: 8px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #00000030;
  word-wrap: break-word;
  text-align: left;
  background-color: #fddf61;
  -webkit-animation: scale-up-br 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-br 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.system {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.system > p {
  display: block;
  max-width: 90%;
  min-height: 40px;
  padding: 8px 12px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #00000030;
  background-color: #79c4f2;
}
.other {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.other > h6 {
  display: block;
  font-size: 0.8rem;
}
.other > p {
  max-width: 90%;
  min-height: 40px;
  padding: 8px 12px;
  border-radius: 20px;
  word-wrap: break-word;
  text-align: left;
  box-shadow: 5px 5px 5px #00000030;
  background-color: white;
  -webkit-animation: scale-up-tl 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-tl 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.inputBox {
  height: 40px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b8e5ff;
  box-shadow: 5px 5px 5px #00000030;
}
.input {
  flex-grow: 1;
  min-width: 60%;
  height: 90%;
  margin-left: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #534d4d;
  background-color: transparent;
  text-align: start;
}
.input:focus {
  border-bottom: 2px solid #feca60;
}
.send {
  min-width: 60px;
  width: 80px;
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: #79c4f2;
  box-shadow: 5px 5px 5px #00000030;
}
.send:active {
  transform: scale(0.9);
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-300%);
  }
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-br {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-br {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@-webkit-keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  5% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  95% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    opacity: 0;
  }
}
@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  5% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  95% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    opacity: 0;
  }
}
