.navBar {
  height: 60px;
  position: sticky;
  background: #79c4f2;
  z-index: 1100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoBox {
  height: 100%;
  margin-left: 1%;
}
.logoBox > a {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img1 {
  height: 70%;
  margin-left: 4px;
}
.img2 {
  height: 60%;
  margin-left: 4px;
}

.navButtonBox {
  margin-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navButtonBox button {
  height: 32px;
  margin-right: 4px;
  justify-content: center;
  background: #fcf5e9;
  border: 1px solid #fddf61;
  border-radius: 4px;
  padding: 4px;
}
.navButtonBox button:hover {
  color: #79c4f2;
  background: #fddf61;
}

.profileTag {
  height: 70%;
  aspect-ratio: 13/3;
  margin-right: 1%;
  justify-content: center;
  background: #fcf5e9;
  border-radius: 0.8rem;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.profileTag.active {
  aspect-ratio: 1/1;
  background-color: transparent;
}
.profileTag.active .nameTag {
  display: none;
}
.avatar {
  position: absolute;
  top: 0;
  left: -8%;
  height: 100%;
  aspect-ratio: 1/1;
  background: #fcf5e9;
  border-radius: 100%;
}
.nameTag {
  margin-right: 3%;
  font-size: 1.2rem;
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    0.3s both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s
    both;
}
.profileTag.active .avatar {
  left: 0;
}
.nameTag {
  margin-left: 4px;
}

.notificationCounter {
  background-color: red;
  border-radius: 70%;
  /* padding: 0.1rem; */
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  top: -15%;
  right: -5%;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ProfileModal */
.ProfileModal {
  width: 25vw;
  height: 88vh;

  /* z-index: 0; */
  position: absolute;
  top: 100%;
  right: -25vw;

  background-color: #fcf5e9;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14),
    0px 1.20588px 7.2353px rgba(0, 0, 0, 0.0912224),
    0px 0.500862px 3.00517px rgba(0, 0, 0, 0.07),
    0px 0.181152px 1.08691px rgba(0, 0, 0, 0.0487776);
  border-radius: 20px;
}

.ProfileModalOpen {
  -webkit-animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
}

.ProfileModalClose {
  -webkit-animation: slide-out-right 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(-25vw);
    transform: translateX(-25vw);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.ProfileModalBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 92%;
  height: 94%;
}

.ProfileModalMyInfo {
  height: 37vh;
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  align-items: center;
  margin-bottom: 0.5vh;
  position: relative;
}

.ProfileModalCloseButton {
  position: absolute;
  top: 5%;
  left: 95%;
  transform: translate(-95%);
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.ProfileModalTextBox {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.ProfileModalImgBox {
  width: 8vw;
  height: 8vw;
  border-radius: 70%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  background-color: #fddf61;
}

.ProfileModalImg {
  width: 7vw;
}

.ProfileModalNotification {
  height: 45vh;
  margin-top: 0.5vh;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
}

.ProfileModalNotificationText {
  display: flex;
  padding: 1rem;
}

.ProfileModalNotificationTextDelete {
  margin-left: auto;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-30 15:46:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
