.detail {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ecf6ff; */

  font-family: "NanumSquareRoundB";
}

.detail_container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 5px;

  z-index: 15;
}

.cards {
  background-color: white;
  color: black;
  width: 400px;
  height: 700px;

  border-radius: 40px;

  display: flex;
  justify-content: center;
}

.card_contents_front,
.card_contents_back {
  width: 90%;
  padding: 10px;
  margin: 20px;
}

/* 카드 앞장 8분할 */
.card_contents_front {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

/* 이미지 */
.card_contents_front_child:nth-child(1) {
  width: 100%;
  aspect-ratio: 12/11;
  grid-row: span 4;
  border-radius: 1rem;

  background-color: #fcf5e9;
  color: black;
}

/* 이미지 아래 info grid 4분할 */
.card_contents_front_child {
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  border-radius: 20px;
}

/* 이미지 아래 info 틀 */
.card_contents_front_child:nth-child(2) {
  grid-row: span 3;
  margin-bottom: 10px;

  background-color: #fcf5e9;
}

/* 이미지 아래 info 내용 양쪽 정렬 */
.card_img_info_child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

/* 현재 가격 div */
.card_contents_front_child:nth-child(3) {
  grid-row: span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 상우하좌 */
  padding: 0 20px 0 20px;

  background-color: #fcf5e9;
}

/*----------- 카드 뒷장 ----------*/

/* 카드 뒷장 8분할 */
.card_contents_back {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.card_contents_back_info {
  border-radius: 20px;
}

/* 판매 기간 div */
.card_contents_back_info:nth-child(1) {
  grid-row: span 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  background-color: #fcf5e9;
  margin-bottom: 10px;
}

.card_contents_back_info_child {
  display: grid;
  justify-content: space-evenly;

  /* padding: 10px 20px 10px 20px; */
}

.card_contents_back_info_child:nth-child(1) {
  align-items: flex-end;
}

.card_contents_back_info_child:nth-child(2) {
  align-items: flex-start;
}

/* 경매 div */
.card_contents_back_info:nth-child(2) {
  grid-row: span 5;
  padding: 20px;

  background-color: #fcf5e9;
  margin-bottom: 10px;
}

/* 버튼 div */
.card_contents_back_info:nth-child(3) {
  grid-row: span 1;
  background-color: #fcf5e9;
  display: flex;
  justify-content: center;
}

.card_buttons {
  display: flex;
  align-items: center;
}

.card_button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px 20px 10px 20px;
  margin: 10px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "NanumSquareRoundB";

  background-color: #fddf61;
}

/* --------- 판매 ---------- */

/* 판매/등록 배경 */
.sell_background {
  width: 100%;
  height: 100%;

  background-color: #fcf5e9;
  z-index: 10;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 라벨, 인풋 1:2 비율로 나눔 */
.input_place {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* input창 오른쪽 정렬 */
.input_price {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 5px;
}

/* 가격, 기간설정 텍스트 */
.input_place > p {
  display: flex;
  align-items: center;
}

/*  */
.input_text {
  width: 100%;
  height: 40px;
  background-color: #fddf61;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-align: right;

  margin-right: 5px;
  padding-right: 20px;
}

.selectBox {
  width: 100%;
  height: 40px;
  background-color: #fddf61;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-align: right;

  padding-left: 20px;
  padding-right: 20px;
}
