.detail {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ecf6ff; */

  font-family: "NanumSquareRoundB";
}

.detail_container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 5px;

  z-index: 15;
}

.cards {
  background-color: white;
  color: black;
  width: 350px;
  height: 600px;

  border-radius: 40px;

  display: flex;
  justify-content: center;
}

.card_contents_front,
.card_contents_back {
  padding: 10px;
  margin: 10px;
}

/* 카드 앞장 8분할 */
.card_contents_front {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

/* 이미지 */
.card_contents_front_child:nth-child(1) {
  width: 100%;
  aspect-ratio: 12/11;
  grid-row: span 4;
  border-radius: 1rem;

  background-color: #fcf5e9;
  color: black;
}

/* 이미지 아래 info grid 4분할 */
.card_contents_front_child {
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  border-radius: 20px;
}

/* 이미지 아래 info 틀 */
.card_contents_front_child:nth-child(2) {
  grid-row: span 3;
  margin-bottom: 10px;

  background-color: #fcf5e9;
}

/* 이미지 아래 info 내용 양쪽 정렬 */
.card_img_info_child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

/* 현재 가격 div */
.card_contents_front_child:nth-child(3) {
  grid-row: span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 상우하좌 */
  padding: 0 20px 0 20px;

  background-color: #fcf5e9;
}

/*----------- 카드 뒷장 ----------*/

/* 카드 뒷장 10분할 */
.card_contents_back {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
}

.card_contents_back_info {
  border-radius: 20px;
}

/* 판매 기간 div */
.card_contents_back_info:nth-child(1) {
  grid-row: span 4;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;

  background-color: #fcf5e9;
  margin-bottom: 10px;
}

.card_contents_back_info:nth-child(2) {
  grid-row: span 4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  background-color: #fcf5e9;
  margin-bottom: 10px;
}

.card_contents_back_info_child {
  display: grid;
  place-items: center;

  /* padding: 10px 20px 10px 20px; */
}

/* 판매 정보 */
.card_contents_back_info_child:nth-child(1) {
  grid-row: span 1;
  background-color: #fddf61;
  border-radius: 20px;
  width: 70%;
  height: 60%;
}

.card_contents_back_info_child:nth-child(2) {
  grid-row: span 2;
  background-color: white;

  width: 90%;
  height: 90%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.card_contents_text1 {
  border-bottom: 1px solid black;
}

.card_contents_text2 {
  font-size: small;
  text-align: center;
}

.card_contents_text3 {
  text-align: center;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
}

/* 다른 그림 div */
.card_contents_back_info:nth-child(2) {
  grid-row: span 5;
  place-items: center;

  background-color: #fcf5e9;
}

.card_another_container {
  grid-row: span 3;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  background-color: #fddf61;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: auto;
}

/* 스크롤바 숨기기 */
.card_another_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card_another_container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.card_another_images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card_another_image {
  width: 33%;
  aspect-ratio: 12/10;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 20px;
}

/* 등록된 그림이 없을 때 */
.card_another_noImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 버튼 div */
.card_contents_back_info:nth-child(3) {
  grid-row: span 1;
  background-color: #fcf5e9;
  display: flex;
  justify-content: center;
}

.card_buttons {
  display: flex;
  align-items: center;
}

.card_button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px 20px 10px 20px;
  margin: 10px;

  font-size: 16px;

  white-space: nowrap;
  font-family: "NanumSquareRoundB";

  background-color: #fddf61;
}

/* --------- 판매 ---------- */

/* 판매/등록 배경 */
.sell_background {
  width: 100%;
  height: 100%;

  background-color: #fcf5e9;
  z-index: 10;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.input_place_title {
  grid-row: span 1;
  background-color: #fddf61;
  border-radius: 20px;
  width: 80%;
  height: 75%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* 라벨, 인풋 1:2 비율로 나눔 */
.input_place {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* input창 오른쪽 정렬 */
.input_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}

/* 가격, 기간설정 텍스트 */
.input_place > p {
  display: flex;
  align-items: center;
}

/*  */
.input_text {
  width: 100%;
  height: 40px;
  background-color: #fddf61;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-align: right;

  margin-right: 5px;
  padding-right: 20px;
}

.selectBox {
  width: 100%;
  height: 40px;
  background-color: #fddf61;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-align: right;

  padding-left: 20px;
  padding-right: 20px;
}

.modal_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: #fcf5e9;
  border-radius: 20px;
}

/* 모달창: 구매 확인 */
.modal_img {
  width: 100%;
  aspect-ratio: 12/10;
  border-radius: 20px;
  /* border: 5px solid black; */
}

.modal_info_container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
}

.modal_info {
  border-radius: 20px;
  background-color: white;
  padding: 15px;
}

.modal_info:nth-child(1) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.modal_info:nth-child(2) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.modal_info_text1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.modal_info_text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.contents_center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  place-content: center;
  place-items: center;
}
