* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* body {
  width: 100vw;
  height: 100vh;
} */

body {
  background-color: #ecf6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 1200px) {
  .App {
    width: 1000px;
  }
}

@media (max-width: 1200px) {
  .App {
    width: 90vw;
  }
}

.detail {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;

  background-color: lightgray;
}

.detail-container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 5px;
}

.detail-container .cards {
  background-color: white;
  color: white;
  width: 350px;
  height: 600px;

  border-radius: 40px;

  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
}

.detail-container .cards .card-img {
  width: 80%;
  height: 200px;
  margin: 20px;

  background-color: #fcf5e9;
  color: black;
}

.detail-container .cards .card-contents {
  width: 80%;
  height: 300px;
  margin: 20px;

  background-color: #fcf5e9;
  color: black;
}
