.container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  overflow-x: hidden;
  position: relative;
}

.content {
  position: absolute;
  overflow-x: hidden;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 40px);
}
