* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  background: #cee2ff;
}

@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
