.container {
  width: 23%;
  background-color: white;
  aspect-ratio: 12/11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #00000030;
  margin-bottom: 2%;
}
.sq {
  width: 100%;
  aspect-ratio: 12/10;
  background-image: url("../../assets/template/template_sq.svg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 90%;
  aspect-ratio: 12/10;
  border-radius: 1rem;
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.container:hover .card {
  transform: rotateY(180deg);
}
.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nftInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nftInfo > p {
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: #534d4d;
  font-size: 1.2rem;
}

.back > p {
  font-family: "NanumSquareRound", "Courier New", Courier, monospace;
  color: #534d4d;
  font-size: 1.2rem;
}
/* 캐러셀 들어갈 아이템 CSS */
.carouselContainer {
  width: 90%;
  aspect-ratio: 12/11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #00000030;
  margin-bottom: 2%;
}
