@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/bg-cloud/bg_bangtae.svg");
  background-size: 10%;
  animation: movebg 30s linear infinite;
  opacity: 0.5;
}
.container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;
}
.container * {
  font-family: "LeeSeoyun";
}
.content {
  max-width: 50%;
  max-height: 80%;
}
.title {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}
.card {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #00000030;
  border-radius: 2rem;
  padding: 1.6rem;
  gap: 1%;
  font-size: 1.6rem;
}
.btn {
  width: 40%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
.btn:active {
  cursor: pointer;
  transform: scale(0.9);
}
.box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.sm {
  display: none;
}
.img {
  max-width: 80%;
  max-height: 70%;
}
.sq {
  width: 100%;
  aspect-ratio: 15/11;
  background-image: url("../../assets/template/template_sq.svg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.infoBox {
  margin-top: 0.4rem;
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infoBox > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address {
  word-break: break-all;
}
.fileName {
  position: absolute;
  background-color: #ffff00aa;
  padding: 0.4rem;
  border-radius: 0.4rem;
  bottom: 0;
  right: 0;
}
.btnGroup {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-in-bottom 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite alternate-reverse both;
  animation: slide-in-bottom 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate-reverse both;
}
.btnGroup:hover {
  -webkit-animation: vibrate-1 5s linear infinite both;
  animation: vibrate-1 5s linear infinite both;
}
.btnImg {
  max-width: 90%;
}
.text {
  margin-bottom: 1rem;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}
@keyframes movebg {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    font-size: 0.5rem;
  }
  .bg {
    background-size: 20%;
  }
  .btnGroup {
    width: 100%;
    gap: 4%;
    -webkit-animation: vibrate-1 5s linear infinite both;
    animation: vibrate-1 5s linear infinite both;
  }
  .btn {
    width: 38%;
  }
  .sm {
    display: inline;
  }
  .img {
    max-height: 70%;
  }
  .lg {
    display: none;
  }
  .content {
    max-width: 90%;
    max-height: 80%;
  }
  .title {
    font-size: 1.6rem;
  }
  .card * {
    font-size: 1.3rem;
  }
  .address {
    font-size: 1.1rem;
  }
  .btnImg {
    max-width: 50%;
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
